body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  .burger{
    font-size: 60px;
  }

  img{
      width: 100px;
  }

.action-btn{
      width: 100%;
      margin-bottom: 6px;
  }