body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: snow;
  }

main {
    flex: 1 0 auto;
  }

  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
  
  .burger{
    font-size: 60px;
  }

  .srch-form{
      margin-top: 50px;
  }
 
.action-btn{
      width: 100%;
      margin-bottom: 6px;
  }
  .cont{
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: snow;
  }
.srch-cont{
    margin-top: 60px;
}
.grout-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.grout-card {
    max-width: 20%;
    height: 355px;
    border: 1px solid #c5cae9 ;
    margin-top: 10px;
    margin-right: 30px;
  }
  
  .grout-card-head {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
  }

  .grout-card-img{
      display: flex;
      justify-content: center;
  }
  
  .article {
    color: gray;
    cursor: pointer;
  }
  
  .copy-btn {
    cursor: pointer;
  }

  .grout-img{
      max-height: 230px;
      /* max-width: 98%; */
  }

  .grout-card-info {
    margin-left: 6px;
  }

  .name,
  .color {
    margin-bottom: 6px;
    margin-top: 6px;
  }

  .grout-card-head {
    margin-left: 6px;
    margin-right: 6px;
  }

  .toast{
      background-color: #69f0ae;
      color: black;
  }

.tabs{
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: #e8eaf6;
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: black;
}

.tabs .tab a{
    color: black;
}

.tabs .indicator{
    background-color: #1a237e;
}

tr{
    cursor: pointer;
}

.newordr{
    width: 100%;
    margin-top: 50px;
}

.addbtn{
    width: 100%;
}






@import 'https://fonts.googleapis.com/css?family=Merriweather';

.header {
  padding: 20px 0;
  text-align: center;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  letter-spacing: 1px;
  max-width: 320px;
  width: 100%;
  position: relative;
  display: inline-block;
  color: #465457;
}
.header h3:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -25px;
  width: 30px;
  height: 20px;
  border-top: 2px solid #fed57b;
  border-left: 2px solid #fed57b;
}
.header h3:after {
  content: "";
  position: absolute;
  bottom: -50%;
  right: -25px;
  width: 30px;
  height: 20px;
  border-bottom: 2px solid #fed57b;
  border-right: 2px solid #fed57b;
}

.orders{
    margin-top: 50px;
}

.order-cont{
    margin-top: 80px;
}

.close{
    color: #bb2124;
}


@media print {
    #print {
        -webkit-print-color-adjust: exact; 
    }